/* Reset */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

button {
    cursor: pointer;
}

/* Général */

.flux {
    margin-left: 8.2vw;
    margin-right: 8.2vw;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    padding: 2rem;
    text-decoration: none;
    color: grey;
}

/* Barre Navigation */

.nav_header {
    position: fixed;
    top: 0;
    width: 85.5%;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.nav_header ul li {
    padding: 1rem;
}

.nav_header ul li:hover {
    border-top: solid 5px lightblue;
    border-radius: 15%;
}

.nav_header .fa-bars {
    display: none;
    color: rgb(0, 153, 255);
}

.nav_header i:hover {
    color: blue;
}

.menu-list-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: white;
}

@media (min-width: 930px) and (max-width: 1080px) {
    header nav ul li a {
        padding: 1rem;
    }
}

@media (min-width: 750px) and (max-width: 930px) {
    header nav ul li a {
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    header nav ul {
        display: none;
    }

    .nav_header .fa-bars {
        display: block;
    }

    .nav_header {
        padding: 1.5rem 0;
    }
}

@media screen and (max-width: 450px) {
    .nav_header img {
        max-width: 90%;
    }
}

/* COVER */

#cover {
    height: 2.5rem;
}

.cover {
    margin-top: 6rem;
    color: white;
    font-weight: bold;
    height: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in;
}

.bg-1 {
    background-image: url(./webagency_images/images/slider/bg1.jpg);
}

.bg-2 {
    background-image: url(./webagency_images/images/slider/bg2.jpg);
}

.cover i {
    position: absolute;
    color:rgb(0, 153, 255);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cover i:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.fa-chevron-left {
    left: 5px;
}

.fa-chevron-right {
    right: 5px;
}

.cover_text {
    margin-left: 4rem;
    font-size: large;
}

.cover_text .title {
    margin-bottom: 2rem;
    letter-spacing: 5px;
}

.cover_description {
    margin-bottom: 2rem;
}

.name_webagency {
    color: rgb(0, 153, 255);
}

.cover_button {
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    transition: all 0.25s linear;
}

.cover_button:hover {
    background: blue;
    padding: 1rem;
}

/* Services */

#services {
    height: 4rem;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.division {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.line {
    width: 300px;
    border: solid 1px lightgrey;
    position: relative;
}

.separator {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px  rgb(0, 153, 255);
    border-radius: 50%;
    background-color:  rgb(0, 153, 255);
}

.services_description {
    padding-left: 18rem;
    padding-right: 18rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 750px) and (max-width: 930px) {
    .services_description {
        padding-left: 9rem;
        padding-right: 9rem;
    }
}

@media screen and (max-width: 750px) {
    .services_description {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.services_content {
    display: flex;
}

@media screen and (max-width: 750px) {
    .services_content {
        flex-direction: column;
    }

    .sercices_icons_description {
        margin-left: 8.2vw;
    }
}

.services_content div h3 {
    font-weight: bold;
}

.sercices_icons_description {
    display: flex;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon_spinner {
    position: relative;
}

.spinner {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 60px;
    height: 60px;
    border: solid 1px  lightgrey;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.spinner::after {
    content: '';
    position: absolute;
    left: 5px;
    width: 10px;
    height: 10px;
    border: solid 1px  rgb(0, 153, 255);
    border-radius: 50%;
    background-color:  rgb(0, 153, 255);
}

.icons i {
    width: 4rem;
    height: 4rem;
    margin-top: 2.5rem;
    color: rgb(0, 153, 255);
}

.icons_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}


/* Projets */

#projets {
    height: 2rem;
}

.projets {
    background-color: rgba(199, 199, 199, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-top: 2rem;
}

.projets .title {
    margin-bottom: 3rem;
}

.projets_description {
    padding-left: 22rem;
    padding-right: 22rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 750px) and (max-width: 930px) {
    .projets_description {
        padding-left: 11rem;
        padding-right: 11rem;
    }
}

@media screen and (max-width: 750px) {
    .projets_description {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.projets_nav {
    background-color: lightgray;
    border-radius: 0.5rem;
}

@media screen and (max-width: 650px) {
    .projets_nav ul {
        display: flex;
        flex-direction: column;
    }
}

.projets_nav ul li {
    padding: 0.5rem;
}

.projets_nav ul li:hover {
    background-color: rgb(0, 174, 255);
    border-radius: 0.5rem;
}

.projets_nav ul li a:hover {
    color: white;
}

.projets_img {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_projets_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projets_img figure {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.projets_img figure img {
    width: 20rem;
    height: 15rem;
}

figure figcaption {
    width: 100%;
    background-color: rgba(8, 8, 8, 0.623);
    color: lightgray;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    bottom: -54px;
    z-index: 2;
    transition: all 0.08s ease-in-out;
}

.projets_img figure:hover figcaption {
    bottom: 4px;
}

/* Adresse */

#contact {
    height: 3.6rem;
}

footer {
    position: relative;
    margin-bottom: 3rem;
}

footer form fieldset h2 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer form fieldset h3 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer form fieldset address {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.map {
    margin-top: 3rem;
    width: 100%; 
    height: 750px;
}

form {
    display: block;
    width: 17rem;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 4rem;
    right: 1.5rem;
}

form div {
    padding-bottom: 5px;
    margin-left: 0.5rem;
}

.form_submit {
    background-color: rgb(0, 153, 255);
    border: 0;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    transition: all 0.25s linear;
}

.form_submit:hover {
    background: blue;
    color: white;
    padding: 10px;
}